.order-confirmation, .show-order {
  display: none;
}
.order-confirmation {
  background-color: black;
  color: white;
}


@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.header h1 {
  animation: bounceIn 2s;
  font-size: 100px;
animation-name: bounceInDown;
}


.header {

  color: white;
  background-color: black;
  text-shadow: 5px 5px #ff0000;
  text-align: center;
  text-transform: uppercase;
}
.text1:hover  {
 text-shadow: 10px -50px #ff0000;

}
.text2:hover  {
 text-shadow: -50px 30px #ff0000;

}
.text3:hover  {
  text-shadow: 20px 30px #ff0000;

}


#submit-order {
  display: none;
  background-color: black;
  color: white;
  padding: 15px;
}
.order {
  text-align: right;
  padding-right: 30px;
  border: 5px solid black;
width: 100%;
margin: none;
}

.total {
  border: 5px solid black;
margin: none;
  width:100%;
}
.cart {
  margin: 10px;
  width: 100%;
}

li {
  list-style: none;
}
 #customer-order-input {
   background-color: black;
   color: white;
   padding: 15px;
 }
